<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center ; background-color: cornflowerblue" >
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container text-center">
  <div class="row">

    <div class="col-md-2">
        <button type="button" class="btn btn-primary" routerLink="/login">Login</button>

    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" routerLink="/signup">Signup</button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" routerLink="/customer-dashboard">Customer</button>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-primary" routerLink="/seller-dashboard">Seller</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" routerLink="/cart">Cart</button>
    </div>

  </div>
</div>

<router-outlet></router-outlet>


